@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --clr-primary-tomato: 4, 100%, 67%;

  --clr-primary-gradient: linear-gradient(to right, hsl(4, 60%, 60%), hsl(4, 100%, 57%));

  --clr-neutral-dark-slate-grey: 234, 29%, 20%;
  --clr-neutral-charcoal-grey: 235, 18%, 26%;
  --clr-neutral-grey: 231, 7%, 60%;
  --clr-neutral-white: 0, 0%, 100%;

  --font-family-default: "Lato", sans-serif;

  --fs-400: 1rem; /* 16px */
  --fs-600: 2.5rem; /* 32px */
  --fs-900: 3.5rem; /* 52.8px */

  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--font-family-default);
  display: grid;
  justify-items: center;
  font-size: var(--fs-400);
  color: hsl(var(--clr-neutral-dark-slate-grey));

  background-color: hsl(var(--clr-neutral-charcoal-grey));
}

ul {
  list-style: none;
}

main {
  display: grid;
  max-width: 23.43rem;
  overflow: hidden;
}

.subscribe-panel {
  order: 1;
  display: grid;
  gap: 1.2rem;
  padding: 2.2rem 1.5rem;
  background: hsl(var(--clr-neutral-white));
}

.subscribe-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

.image-panel {
  background: hsl(var(--clr-neutral-white));
  height: 284px;
}

.image {
  --border-radius: 1rem;
  order: 0;
  height: 100%;
  background-image: url("/newsletter-sign-up-form-with-success-message-solution/assets/images/illustration-sign-up-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.offer {
  line-height: 1.5;
}

.offer-list li {
  margin: 0.5rem 0;
  line-height: 1.5;
}

li {
  display: flex;
  align-items: center;
}

li::before {
  content: url("/newsletter-sign-up-form-with-success-message-solution/assets/images/icon-list.svg");
  margin-right: 1rem;
  line-height: 1;
}

.subscribe-form {
  display: grid;
  gap: 1rem;
}

.form-control {
  padding: 0.8rem 0;
  display: grid;
  gap: 0.5rem;
}

.info-panel {
  display: flex;
  font-size: calc(var(--fs-400) * 0.85);
  justify-content: space-between;
  font-weight: var(--fw-bold);
}

.error {
  display: none;
  color: hsl(var(--clr-primary-tomato));
}

.invalid .error {
  display: inline;
}

.invalid > input {
  background: hsl(var(--clr-primary-tomato), 0.5);
}

.subscribe-form input {
  padding: 1rem;
  border: 1px solid hsl(var(--clr-neutral-charcoal-grey), 0.3);
  border-radius: 0.5rem;
}

.subscribe-form input[data-valid="false"] {
  outline-color: hsl(var(--clr-primary-tomato), 0.5);
}
.subscribe-form input[data-valid="false"]::placeholder {
  color: hsl(var(--clr-primary-tomato));
}

.subscribe-form button {
  font-weight: var(--fw-bold);
  border: 0;
  padding: 1.2rem;
  color: hsl(var(--clr-neutral-white));
  background: hsl(var(--clr-neutral-dark-slate-grey));
  border-radius: 0.5rem;
}

.subscribe-form button:hover {
  background: var(--clr-primary-gradient);
}

@media (min-width: 600px) {
  body {
    height: 100%;
    place-content: center;
    background: hsl(var(--clr-neutral-charcoal-grey));
  }

  main {
    grid-template-columns: 1fr 1fr;
    background: hsl(var(--clr-neutral-white));
    max-width: 930px;
    border-radius: 2rem;
    padding: 1.5rem;
  }

  .subscribe-panel {
    order: 0;
    font-weight: var(--fw-bold);
    padding: 4.2rem 1rem 4.5rem 2.5rem;
  }

  .subscribe-title {
    font-size: var(--fs-900);
  }

  .subscribe-form {
    margin-top: 0.5rem;
    gap: 0.75rem;
  }

  .image-panel {
    height: 100%;
    padding: 0 0 0 2.5rem;
  }

  .image {
    order: 1;
    background-image: url("/newsletter-sign-up-form-with-success-message-solution/assets/images/illustration-sign-up-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    border-radius: var(--border-radius);
  }

  button {
    cursor: pointer;
  }
}
